[Unit]
Description=Gunicorn instance to serve tusovka.ml
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/tusovka.ml
Environment="PATH=/var/www/tusovka.ml/env/bin"
ExecStart=/var/www/tusovka.ml/env/bin/gunicorn --workers 3 --bind unix:tusovka.sock -m 007 application:application

[Install]
WantedBy=multi-user.target