html {
	overflow: hidden;
}

body {
	font-family: "CMU Serif";
	font-size: 16pt;
	color: black;
	min-height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
	z-index: 900;
}

#bg-image {
  	background-image: url("/images/back.jpg");
	filter: blur(20px);
	-webkit-filter: blur(20px);
	height: 120%;
	width: 120%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	transform: translate(-10%, -10%);
}

a {
	color: white;
	text-decoration: none;
}


#video-player {
	position: relative;
	z-index: 0;
	margin:0;
	padding:0;
}

@media (orientation:portrait) {
  #video-player {
    height: 100vh;
    width: auto;
  }
}

#bg_player {
	display: none;
}

#player {
	border-style: solid;
	border-width: 1px;

	width: 40vh;
	height: 40vh;
	background-color: yellow;
	
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#player_controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#player_controls img {
	height: 10vh;
	width: auto;
}

#player_controls img:active {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

#chat {
	position: absolute;
	vertical-align: middle;
	font-family: monospace;
	color: white;
	font-size: 1.8vw;
	top: 5px;
	right: 5px;
	bottom: 5px;
	width: 30vw;
	height: 90vh;
	z-index: 900;
}

#hack-chat {
	width: 100%;
	height: 100%;
}

#whats_cookin {
	position: absolute;
	bottom: 5px;
	left: 5px;
	z-index: 900;
	font-size: 1.8vw;
	color: white;
	font-family: monospace;
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer {
	display: inline;
}


#hack-chat {
	display: none;
}

/*Mobile accessiblility*/

@media (orientation:portrait) {
	#player_controls img {
		height: 12vw;
		width: auto;
	}
	#chat img {
		display: none;
	}
	#chat a {
		font-size: 1.8vh;
	}
	#whats_cookin {
		font-size: 1.8vh;
	}
}