﻿extends layout.pug

append head
  title #{data.name} | tsvk.live

append body
  body.is-preload.generic
    .center-block

append content
  #main
    .inner
      header.artist-header
        h1 #{data.name}
        if data.live
          p#description ...
        else if data.streamUrl != ''
          p#description 📻
        else 
          p#description There is no stream right now
      .controlls
        .play-stop
          #play.btn.btn-default.transition.play(onclick="play()")
            img(src='/images/play.svg' title='Play')
      if data.live
        .song-data
          h2#whats_playin ...
          p#liveListeners Listeners: -
      else 
        .song-data
          h2#whats_playin 
          p#liveListeners Subscribe for updates
      .actions
        .action-btn
          img(src='/images/chat.svg' title='Chat' alt='Chat')#chat(onclick='loadChat()')
        .action-btn
          a(href='https://t.me/tusovka_ml_bot?start=' + `${data.username}` target="_blank")
            img(src='/images/bell.svg' title='Telegram notifications' alt='telegram notifications')
      #chat_popup
  audio#bg_player(autoload='true' autostart='0' preload='none' name='media')
    source(src=`${data.host}/${data.username}` type='audio/mpeg')
    source(src=`${data.host}/${data.username}` type='audio/ogg')
    source(src=`${data.host}/${data.username}` type='audio/opus')
    source(src=`${data.host}/${data.username}` type='audio/aac')
    source(src=`${data.streamUrl}` type='audio/mp3')
    source(src=`${data.streamUrl}` type='audio/aac')
    source(src='/lobby.mp3' type='audio/mpeg')

append scripts
  script(src='/assets/js/artist.js')
  script.
    (function($) {
    checkLiveListeners(#{data.live});
    checkStream(`#{data.username}`);
    })(jQuery)