﻿extends layout.pug

append head
  title tsvk.live

block content
  #main
    .inner
      header
        h1 Live for friends
        p
          a.connect_form(href='https://forms.gle/EguwT7AeRDtAosTp9' target='_blank') Stream
          |  and listen
      section.tiles#artists
        each artist in data
          article.style
            span.image
              img(src='/images/' + artist.username + '.png' alt=artist.name)
            a(href='/' + artist.username)
              h2 #{artist.name}
              p #{artist.displayDesc}
              if artist.live
                p.live Live
block footer
  footer#footer
    .inner
      section
        h2 Made for friends by friends
        p
          | Make yourself at home
