<!DOCTYPE html>
<html>
<head>
	<title>Mykola Radio | About</title>
	<meta charset="UTF-8">
	<html lang="en-US">
	<head profile="http://www.w3.org/2005/10/profile">
	<link rel="icon" type="image/ico" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/js/main.js"></script>
</head>
<body>
<div style="padding: 5px">
<h1>Hello world!</h1><img style="max-width: 200px; float: right; padding: 10px" src="https://i0.kym-cdn.com/entries/icons/facebook/000/000/166/keyboar.jpg">
<p style="text-align: justify;">Welcome to tusovka website! Here we, Verbalius, Satoshi and our friends, stream our live music perfomances every Thursday at 20:00 Kyiv time. Here we like to play Drum and Bass, House and Techno music. Please feel like at home, relax and have fun!</p>
<p>Stay updated about new streams using our <a href="https://t.me/tusovka_ml_bot">telegram bot</a></p>
<p>Here you can visit my soundcloud where I sometimes post my new tracks</p>
<a href="https://soundcloud.com/mykola-lev">https://soundcloud.com/mykola-lev</a>
<p>Also you can check out my github page and contribute if you would like to :)</p>
<a href="https://github.com/verbalius/tusovka-flask-webapp">https://github.com/verbalius/tusovka-flask-webapp</a>
<hr>
<a href="/">Go back to the main page</a>
</div>
</body>
</html>
