<!DOCTYPE html>
<html>
<head>
	<title>Mykola Radio | About</title>
	<meta charset="UTF-8">
	<html lang="en-US">
	<head profile="http://www.w3.org/2005/10/profile">
	<link rel="icon" type="image/ico" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/js/main.js"></script>
</head>
<body>
<div id="bg-image"></div>
<a id="header_link" href="/">home</a>
<!-- About deployment -->

<div id="build-info">
	<a href="https://github.com/verbalius/my_simple_radio"><img src="https://github.com/verbalius/tusovka-flask-webapp/workflows/CI-CD-to-AWS-Beanstalk/badge.svg?branch=master">version 2.0</a>
</div>
</body>
</html>
