<!DOCTYPE html>
<html>
<head>
	<title>Mykola Radio | Home</title>
	<meta charset="UTF-8">
	<html lang="en-US">
	<head profile="http://www.w3.org/2005/10/profile">
	<link rel="icon" type="image/ico" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/js/main.js"></script>
</head>
<body>
<div id="bg-image"></div>
<video id="video-player" poster="https://media.giphy.com/media/hPlsN9Z6JNF4s/200_s.gif" loop="" autoplay="" width="100%" height="100%">
    <source src="https://media.giphy.com/media/hPlsN9Z6JNF4s/giphy.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
    <img src="https://media.giphy.com/media/hPlsN9Z6JNF4s/giphy.gif" title="Your browser does not support the mp4 video codec.">
</video>

<!-- Radio media player -->
<div id="player">
	<table id="player_controls">
		<tr>
			<td><img id="player-play" onclick="play('bg_player')" src="/images/player-play.svg" alt="play"></td>
			<td><img id="player-pause" onclick="pause('bg_player')" src="/images/player-pause.svg" alt="pause"></td>
		</tr>
		<tr>
			<td><img id="player-vol-down" onclick="volume('bg_player','down')" src="/images/player-vol-down.svg" alt="vol-down"></td>
			<td><img id="player-vol-up" onclick="volume('bg_player','up')" src="/images/player-vol-up.svg" alt="vol-up"></td>
		</tr>
	</table>
</div>

<!-- Audio stream -->
<audio autoload="true" autoplay="true" controls="true" preload="none" id="bg_player">
	<source src="http://radio.tusovka.ml:8000/stream.ogg" type="audio/ogg">
	<source src="http://radio.tusovka.ml:8000/stream.mp3" type="audio/mpeg">
</audio>

<!-- About deployment -->
<div id="footer">
<ul id="whats_cookin">
	<li id="whos_here"></li>
	<li><a id="whos_playin" href=""></a></li>
	<li id="whats_playin"></li>
</ul>
<div id="build-info">
	<a target="_blank" rel="noopener noreferrer" href="https://hack.chat/?radiotusovka">join live chat</a>
</div>
</div>
</body>
</html>