<!DOCTYPE html>
<html>
<head>
	<title>Mykola Radio | Home</title>
	<meta charset="UTF-8">
	<html lang="en-US">
	<head profile="http://www.w3.org/2005/10/profile">
	<link rel="icon" type="image/ico" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/js/main.js"></script>
</head>
<body>
<div id="main_table" class="tg-wrap">
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">TUSOVKA.ML</th>
    <th id="chat_header" class="tg-0lax hack_chat"></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td id="player-play" class="tg-0lax controls" onclick="play('bg_player')">play</td>
    <td id="chat_frame" class="tg-0lax hack_chat" rowspan="10">
    	<iframe id="chat_iframe" src=""></iframe>
    </td>
  </tr>
  <tr>
    <td id="player-vol-up" class="tg-0lax controls" onclick="volume('bg_player','up')">volume up</td>
  </tr>
  <tr>
    <td id="player-vol-down" class="tg-0lax controls" onclick="volume('bg_player','down')">volume down</td>
  </tr>
  <tr>
    <td id="chat-toggle" class="tg-0lax controls hack_chat" onclick="activate_chat()">Activate chat</td>
  </tr>
  <tr>
    <td id="whos_here" class="tg-0lax">Listeners</td>
  </tr>
  <tr>
  	<td id="whos_playin" class="tg-0lax">Stream name</td>
  </tr>
  <tr>
    <td class="tg-0lax">What's playing:</td>
  </tr>
  <tr>
  	<td id="whats_playin" class="tg-0lax">Artist - Title</td>
  </tr>
  <tr>
    <td class="tg-0lax">Description:</td>
  </tr>
  <tr>
    <td class="tg-0lax">
    	<p id="stream_description">20:00 actual schedule<br>
    	21:00 actual schedule<br>
    	22:00 actual schedule</p>
	</td>
  </tr>
  <tr>
    <td class="tg-0lax join_chat">
    	<a target="_blank" rel="noopener noreferrer" href="https://hack.chat/?radiotusovka">Join live chat</a>
    </td>
  </tr>
</tbody>
</table>
</div>

<!-- Audio stream -->
<audio autoload="true" autoplay="false" controls="true" preload="none" id="bg_player">
	<source src="/lobby.mp3" type="audio/mpeg">
	<source src="http://radio.tusovka.ml:8000/stream" type="audio/mpeg">
	<source src="http://radio.tusovka.ml:8000/stream" type="audio/ogg">
</audio>

</body>
</html>