<!DOCTYPE html>
<html>
<head>
	<title>Tusovka | Home</title>
	<meta charset="UTF-8">
	<html lang="en-US">
	<head profile="http://www.w3.org/2005/10/profile">
	<link id="parrot_icon" rel="icon" href="/images/boredparrot.gif" type="image/gif" >
	<link rel="stylesheet" href="/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/js/main.js"></script>
</head>
<body>
<div style="padding: 5px">
<h1>Schedule</h1>
<p>No schedule for now but for sure listen us on every Thursday at 20:00 Kyiv time.</p>
<p>Occasionaly Verbalius can stream "daily music" from 10:00 to 19:00 on weekdays.</p>
<hr>
<p>Consider adding <a href="https://t.me/tusovka_ml_bot">telegram bot</a> which can notify if your favourite genre or dj is streaming ;)</p>
</div>
</body>
</html>